<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campfire - Chat</title>
    <link rel="stylesheet" href="resources/styles.css" />
    <link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon" />
</head>
<body onload="renderChats()">
    <main>
        <nav class="nav-bar">
            <img src="resources/favicon.ico" class="nav-logo">
            <h1 class="nav-title">Campfire</h1>

            <button class="user-avatar-btn" onclick="document.querySelector('.redirect-animation').style.animation = 'drop 1s ease-in-out forwards'; setTimeout(() => { document.querySelector('.redirect-animation').style.animation = 'none'; location.href='/settings'; }, 1000);">
                <span class="user-avatar"></span>
            </button>
        </nav>

        <div class="sidebar">
            <div class="sidebar-header">
                <input type="text" id="search" placeholder="Search..." class="sidebar-search">
                <button class="sidebar-add-chat-btn">+</button>
            </div>

            <div class="sidebar-chats">
                <div class="chats-no-chats-found">No chats here.</div>
            </div>
        </div>

        <div class="main-content">
            <p class="select-chat-message">Select a chat from the sidebar to view.</p>
            <div class="chat-content"></div>
        </div>

        <div class="add-chat-overlay">
            <div class="add-chat-dialog">
                <h2>Add New Chat</h2>
                <div class="add-chat-dialog-error-box" style="display: none;">
                    <p class="add-chat-dialog-error-box-text"></p>
                </div>
                <label for="other-user-uuid">Please enter the user's UUID:</label>
                <input id="other-user-uuid" type="text" class="add-chat-input" autofocus />
                <div class="add-chat-dialog-actions">
                <button id="add-chat-cancel" class="add-chat-btn">Cancel</button>
                <button id="add-chat-confirm" class="add-chat-btn">Add Chat</button>
                </div>
            </div>
        </div>

        <div class="redirect-animation"></div>
    </main>
    <script src="resources/home.js"></script>
</body>
</html>
