<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/styles.css">
    <link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">
    <title>Campfire</title>
</head>
<body>
    <main>
        <div class="top-toolbar-buttons"></div>

        <div class="start-screen">
            <img class="start-screen-img" src="resources/favicon.ico" alt="">
            <h1 style="display: none;">Campfire</h1>
            <br>
            <div class="loading-bar" style="display: none;">
                <div class="loading-bar-progress"></div>
            </div>
        </div>
        
    </main>
    <script src="resources/script.js"></script>
</body>
</html>