<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campfire - Settings</title>
    <link rel="stylesheet" href="resources/styles.css" />
    <link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon" />
</head>
<body style="overflow: hidden;">
    <main>
        <nav class="nav-bar">
            <img src="resources/favicon.ico" class="nav-logo">
            <h1 class="nav-title">Campfire</h1>

            <button class="user-avatar-btn" onclick="location.href='/settings'">
                <span class="user-avatar"></span>
            </button>
        </nav>

        <div class="settings-sidebar">
            <div class="settings-sidebar-header">
                <h2>Settings</h2>
            </div>
            <button onclick="openSideMenu('general')">General</button>
            <button onclick="openSideMenu('account')">Account</button>
        </div>

        
        <div class="settings-menu">
            <div class="general-menu">
                <h2>General Settings</h2>
                <div class="general-menu-user-info">
                    <button class="user-avatar-btn" onclick="changeProfilePicture()">
                        <span class="general-menu-user-avatar"></span>
                    </button>
                    <p class="general-menu-username"></p>
                    <p class="general-menu-role"></p>
                </div>
                
                <button class="general-menu-btn">Edit Username</button>
                <button class="general-menu-btn">Edit Password</button>
            </div>
        </div>

        <div class="redirect-animation"></div>
    </main>
    <script src="resources/settings.js"></script>
</body>
</html>