<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/styles.css">
    <link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">
    <title>Campfire - Sign Up</title>
</head>
<body style="overflow: hidden;">
    <main>
        <img src="resources/favicon.ico" alt="" class="signup-page-icon">
        <h1 class="signup-page-title">Campfire</h1>
        <div class="signup-box">
            <h1>Signup</h1>
            <div class="signup-error-box" style="display: none;">
                <p class="signup-error-text"></p>
            </div>
            <input type="text" class="signup-box-username" placeholder="Username" required>
            <input type="password" class="signup-box-password" placeholder="Password" required>
            <button class="signup-box-button">Signup</button>
            <a href="/login">Already have an account? Log in here!</a>
        </div>

        <div class="redirect-animation"></div>
    </main>

    <script src="resources/signup.js"></script>
</body>
</html>